<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PortalXMLs</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>Logout.jsp</welcome-file>
    <welcome-file>documentosprov.jsp</welcome-file>
    <welcome-file>documentosuser.jsp</welcome-file>
    <welcome-file>confirmarreg.jsp</welcome-file>
    <welcome-file>Logout.jsp</welcome-file>
    <welcome-file>modificardatos.jsp</welcome-file>
    <welcome-file>subirarchivo.jsp</welcome-file>
    <welcome-file>regisususario.jsp</welcome-file>
    <welcome-file>reguseradmin.jsp</welcome-file>
    <welcome-file>subirarchivo.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>servregprov.do</display-name>
    <servlet-name>servregprov.do</servlet-name>
    <servlet-class>registros.servregprov.do</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servregprov.do</servlet-name>
    <url-pattern>/servregprov.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>eliminar</display-name>
    <servlet-name>eliminar</servlet-name>
    <servlet-class>eliminar.eliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminar</servlet-name>
    <url-pattern>/eliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrar.do</display-name>
    <servlet-name>registrar.do</servlet-name>
    <servlet-class>registros.registrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrar.do</servlet-name>
    <url-pattern>/registrar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registraruser.do</display-name>
    <servlet-name>registraruser.do</servlet-name>
    <servlet-class>registros.registraruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registraruser.do</servlet-name>
    <url-pattern>/registraruser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>archivos.UploadServlet</servlet-class>
    <multipart-config>
      <location>/tmp</location>
      <max-file-size>209715200</max-file-size>
      <max-request-size>209715200</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>pathDestino</param-name>
    <param-value>C:\Users\addyg\Documents\DocumentosPortal\</param-value>
  </context-param>
</web-app>